<div class="row emp-info-wrapper">
  <div class="col-md-12">
    <h3 class="employee-wrapper-header">नयाँ विवरण थप्नुहोस्</h3>
    <div class="st-panel-default">
      <div class="st-panel-header">
        <h4>व्यक्तिगत डेटा</h4>
        <span (click)="btnBackClicked()" class="panel-close"></span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="st-panel-body">
            <form class="employee-add-form" [formGroup]="newForm">
              <div *ngIf="firstStep">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="emp-info-tag">
                      तपाईंको जानकारी अपडेट गर्न यो पृष्ठ प्रयोग गर्नुहोस् ।
                    </p>
                    <span class="label-wid-line">
                      <p>पहिलो चरण</p>
                      <hr>
                    </span>
                  </div>
                </div>
                <input type="hidden" formControlName="id" />
                <div class="row mn-top-15">
                  <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="form-group max-input-wrapper-width">
                      <label>व्यक्तिको नाम</label>
                      <input class="form-control nepali-text"
                        formControlName="person_name"
                        />
                      <span invalidMessage
                        [control]="newForm.controls.person_name"></span>
                    </div>
                    <div class="form-group max-input-wrapper-width">
                      <label>व्यक्तिको उमेर</label>
                      <input class="form-control nepali-number"
                        formControlName="age" />
                      <span invalidMessage [control]="newForm.controls.age"></span>
                    </div>


                    <div class="form-group max-input-wrapper-width">
                      <label>रक्त समूह</label>
                      <app-select-input selectorId="name"
                        [selectInputGroup]="newForm"
                        [formSubmitted]="isSubmited"
                        [selectInputControl]="newForm.controls.blood_group"
                        [selectOptions]="bloodGroupList"></app-select-input>
                      <span invalidMessage
                        [control]="newForm.controls.blood_group"></span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="form-group max-input-wrapper-width">
                      <label>बुवाको नाम</label>
                      <input class="form-control nepali-text" value="Takamaru
                        Ayako"
                        formControlName="father_name" />
                      <span invalidMessage
                        [control]="newForm.controls.father_name"></span>
                    </div>
                    <div class="form-group max-input-wrapper-width">
                      <label>आमाको नाम</label>
                      <input class="form-control nepali-text" value="Takamaru
                        Ayako"
                        formControlName="mother_name" />
                      <span invalidMessage
                        [control]="newForm.controls.mother_name"></span>
                    </div>
                    <div class="form-group max-input-wrapper-width">
                      <label>हजुरबुवाको नाम</label>
                      <input class="form-control nepali-text" value="Takamaru
                        Ayako"
                        formControlName="grand_father_name" />
                      <span invalidMessage
                        [control]="newForm.controls.grand_father_name"></span>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="form-group max-input-wrapper-width">
                      <label>अवतार</label>
                      <app-image-upload [formSubmitted]="isSubmited"
                        [form_control_name]="newForm.controls.person_image"
                        [form_group_name]="newForm" [imgUrl]="avatarUrl"
                        (inputChanged)="changeAvatar($event)"
                        customID="select_file"
                        detailLabel="फाइलको ढाँचा: .png.jpg अधिकतम अपलोड फाइल
                        साइज: 5MB"
                        labelUpload="फाईल छान्नुहोस्"></app-image-upload>
                      <span invalidMessage position="topWithAbs"
                        [control]="newForm.controls.person_image"></span>

                    </div>


                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="form-group max-input-wrapper-width">
                      <label>शिक्षा</label>
                      <input class="form-control nepali-text"
                        formControlName="education" />
                      <span invalidMessage
                        [control]="newForm.controls.education"></span>
                    </div>

                    <div class="form-group max-input-wrapper-width">
                      <label>पेशा</label>
                      <app-select-input selectorId="name"
                        [selectInputGroup]="newForm"
                        [formSubmitted]="isSubmited"
                        [selectInputControl]="newForm.controls.occupation"
                        [selectOptions]="occupationList"></app-select-input>
                      <span controlType="select" position="topWithAbs"
                        invalidMessage
                        [control]="newForm.controls.occupation"></span>
                    </div>

                    <div class="form-group max-input-wrapper-width">
                      <label>धर्म</label>
                      <app-select-input selectorId="name"
                        [selectInputGroup]="newForm"
                        [formSubmitted]="isSubmited"
                        [selectInputControl]="newForm.controls.religion"
                        [selectOptions]="religionList"></app-select-input>
                      <span invalidMessage
                        [control]="newForm.controls.religion"></span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="form-group max-input-wrapper-width">
                      <label>दम्पतिको नाम</label>
                      <input class="form-control nepali-text"
                        formControlName="spouse_name"
                        />
                      <span invalidMessage
                        [control]="newForm.controls.spouse_name"></span>
                    </div>

                    <div class="form-group max-input-wrapper-width">
                      <label>विदेशी पेशा</label>
                      <app-select-input selectorId="name"
                        [selectInputGroup]="newForm"
                        [selectInputControl]="newForm.controls.foreign_occupation"
                        [selectOptions]="foreignOccupationList"></app-select-input>
                    </div>

                    <div class="form-group max-input-wrapper-width">
                      <label>विदेशीमा समय मध्यान्तर (बर्ष) </label>
                      <input class="form-control nepali-number"
                        formControlName="time_interval_at_foreign" />
                      <span invalidMessage
                        [control]="newForm.controls.time_interval_at_foreign"></span>
                    </div>
                  </div>

                </div>
              </div>
              <div *ngIf="secondStep">
                <div class="row mn-top-30">
                  <div class="col-sm-12">
                    <p class="emp-info-tag">
                      घरको जानकारी अपडेट गर्न यो सेक्शन प्रयोग गर्नुहोस्
                    </p>
                    <span class="label-wid-line">
                      <p>दोस्रो चरण</p>
                      <hr>
                    </span>
                  </div>
                </div>
                <div class="col-md-12 text-align-right">

                  <shared-button buttonType="button"
                    class="employee-add-back-btn"
                    iconClass="icon-back-red" name="नयाँ थप्नुहोस्"
                    (buttonClicked)="addNewHouse()"></shared-button>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-6">
                  <div formArrayName="houses">
                    <div *ngFor="let comp of newForm.get('houses')['controls'];
                      let i=index">
                      <div [formGroupName]="i">
                        <div class="form-group row">
                          <label class="col-sm-1 col-form-label pr-0">
                            कुल संख्या</label>
                          <div class="col-sm-4 col-12">
                            <app-select-input selectorId="id"
                              [selectInputGroup]="newForm"
                              [selectInputControl]="comp.controls.tol_number"
                              [selectOptions]="tolList"></app-select-input>
                            <div *ngIf="isSubmited &&
                              comp.controls.tol_number.errors?.required">
                              <small class="text-danger m-0 text-sm">कुल संख्या
                                आवश्यक छ।</small>
                              <br/>
                              </div>
                            </div>
                            <label class="col-sm-1 col-form-label pr-0">घरको
                              प्रकार</label>
                            <div class="col-sm-2 col-12">
                              <app-select-input selectorId="id"
                                [selectInputGroup]="newForm"
                                [selectInputControl]="comp.controls.house_type"
                                [selectOptions]="houseTypeList"></app-select-input>
                              <div *ngIf="isSubmited &&
                                comp.controls.house_type.errors?.required">
                                <small class="text-danger m-0 text-sm">घरको
                                  प्रकार आवश्यक छ।</small>
                                <br/>
                                </div>
                              </div>
                              <label class="col-sm-1 col-form-label pr-0">घरको
                                क्षेत्रफल</label>
                              <div class="col-sm-2 col-12">
                                <input class="form-control nepali-number"
                                  formControlName="house_area" />
                                <div *ngIf="isSubmited &&
                                  comp.controls.house_area.errors?.required">
                                  <small class="text-danger m-0 text-sm">घरको
                                    क्षेत्रफल आवश्यक छ।</small>
                                  <br/>
                                  </div>
                                </div>
                                <span style="cursor:pointer" *ngIf="i!==0"><img
                                    src="./assets/icons/blue_remove.svg"
                                    (click)="deleteHouse(i)" /> </span>

                              </div>
                              <hr>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="thirdStep">
                      <div class="row mn-top-30">
                        <div class="col-sm-12">
                          <p class="emp-info-tag">
                            सदस्यको जानकारी अपडेट गर्न यो सेक्शन प्रयोग
                            गर्नुहोस्।
                          </p>
                          <span class="label-wid-line">
                            <p>तेस्रो चरण</p>
                            <hr>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-12 text-align-right">

                        <shared-button buttonType="button"
                          class="employee-add-back-btn"
                          iconClass="icon-back-red" name="नयाँ थप्नुहोस्"
                          (buttonClicked)="addNewMember()"></shared-button>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-md-6">
                        <div formArrayName="members">
                          <div *ngFor="let comp of
                            newForm.get('members')['controls']; let i=index">
                            <div [formGroupName]="i">
                              <div class="form-group row">
                                <label class="col-sm-1 col-form-label pr-0">सदस्यको
                                  नाम</label>
                                <div class="col-sm-2 col-12">
                                  <input class="form-control nepali-text"
                                    formControlName="member_name" />
                                  <div *ngIf="isSubmited &&
                                    comp.controls.member_name.errors?.required">
                                    <small class="text-danger m-0 text-sm">सदस्यको
                                      नाम आवश्यक छ।</small>
                                    <br/>
                                    </div>
                                  </div>

                                  <label class="col-sm-1 col-form-label pr-0">पेशा</label>
                                  <div class="col-sm-2 col-12">
                                    <app-select-input selectorId="name"
                                      [selectInputGroup]="newForm"
                                      [selectInputControl]="comp.controls.member_occupation"
                                      [selectOptions]="occupationList"></app-select-input>
                                    <div *ngIf="isSubmited &&
                                      comp.controls.member_occupation.errors?.required">
                                      <small class="text-danger m-0 text-sm">पेशा
                                        आवश्यक छ।</small>
                                      <br/>
                                      </div>
                                    </div>

                                    <label class="col-sm-1 col-form-label pr-0">रक्त
                                      समूह</label>
                                    <div class="col-sm-2 col-12">
                                      <app-select-input selectorId="name"
                                        [selectInputGroup]="newForm"
                                        [formSubmitted]="isSubmited"
                                        [selectInputControl]="comp.controls.member_blood_group"
                                        [selectOptions]="bloodGroupList"></app-select-input>
                                      <div *ngIf="isSubmited &&
                                        comp.controls.member_blood_group.errors?.required">
                                        <small class="text-danger m-0 text-sm">रक्त
                                          समूह आवश्यक छ।</small>
                                        <br/>
                                        </div>
                                      </div>
                                      <label class="col-sm-1 col-form-label
                                        pr-0">शिक्षा</label>
                                      <div class="col-sm-2 col-12">
                                        <input class="form-control nepali-text"
                                          formControlName="member_education" />
                                        <div *ngIf="isSubmited &&
                                          comp.controls.member_education.errors?.required">
                                          <small class="text-danger m-0
                                            text-sm">शिक्षा आवश्यक छ।</small>
                                          <br/>
                                          </div>
                                        </div>
                                        <label class="col-sm-1 col-form-label
                                          pr-0">सदस्यको उमेर</label>
                                        <div class="col-sm-2 col-12">
                                          <input class="form-control
                                            nepali-number"
                                            formControlName="member_age" />
                                          <div *ngIf="isSubmited &&
                                            comp.controls.member_age.errors?.required">
                                            <small class="text-danger m-0
                                              text-sm">सदस्यको उमेर आवश्यक छ।</small>
                                            <br/>
                                            </div>
                                            <div
                                              *ngIf="comp.controls.member_age.errors?.pattern">
                                              <small class="text-danger m-0
                                                text-sm">इन्टेजर नं. मात्र
                                                स्वीकार्य छ।</small>
                                              <br/>
                                              </div>
                                            </div>
                                            <label class="col-sm-1
                                              col-form-label pr-0">धर्म</label>
                                            <div class="col-sm-2 col-12">
                                              <app-select-input
                                                selectorId="name"
                                                [selectInputGroup]="newForm"
                                                [formSubmitted]="isSubmited"
                                                [selectInputControl]="comp.controls.member_religion"
                                                [selectOptions]="religionList"></app-select-input>
                                              <div *ngIf="isSubmited &&
                                                comp.controls.member_religion.errors?.required">
                                                <small class="text-danger m-0
                                                  text-sm">धर्म आवश्यक छ।</small>
                                                <br/>
                                                </div>
                                              </div>
                                              <label class="col-sm-1
                                                col-form-label pr-0">सम्बन्ध</label>
                                              <div class="col-sm-2 col-12">
                                                <input class="form-control
                                                  nepali-text"
                                                  formControlName="member_relation"
                                                  />
                                                <div *ngIf="isSubmited &&
                                                  comp.controls.member_relation.errors?.required">
                                                  <small class="text-danger m-0
                                                    text-sm">सम्बन्ध आवश्यक छ।</small>
                                                  <br/>
                                                  </div>
                                                </div>
                                                <label class="col-sm-1
                                                  col-form-label pr-0">बुवाको
                                                  नाम</label>
                                                <div class="col-sm-2 col-12">
                                                  <input class="form-control
                                                    nepali-text"
                                                    formControlName="member_father_name"
                                                    />
                                                  <div *ngIf="isSubmited &&
                                                    comp.controls.member_father_name.errors?.required">
                                                    <small class="text-danger
                                                      m-0 text-sm">बुवाको नाम
                                                      आवश्यक छ।</small>
                                                    <br/>
                                                    </div>
                                                  </div>
                                                  <label class="col-sm-1
                                                    col-form-label pr-0">आमाको
                                                    नाम</label>
                                                  <div class="col-sm-2 col-12">
                                                    <input class="form-control
                                                      nepali-text"
                                                      formControlName="member_mother_name"
                                                      />
                                                    <div *ngIf="isSubmited &&
                                                      comp.controls.member_mother_name.errors?.required">
                                                      <small class="text-danger
                                                        m-0 text-sm">आमाको नाम
                                                        आवश्यक छ।</small>
                                                      <br/>
                                                      </div>
                                                    </div>
                                                    <label class="col-sm-1
                                                      col-form-label pr-0">हजुरबुवाको
                                                      नाम</label>
                                                    <div class="col-sm-2
                                                      col-12">
                                                      <input
                                                        class="form-control
                                                        nepali-text"
                                                        formControlName="member_grand_father_name"
                                                        />
                                                      <div *ngIf="isSubmited &&
                                                        comp.controls.member_grand_father_name.errors?.required">
                                                        <small
                                                          class="text-danger m-0
                                                          text-sm">हजुरबुवाको
                                                          नाम आवश्यक छ।</small>
                                                        <br/>
                                                        </div>
                                                      </div>
                                                      <label class="col-sm-1
                                                        col-form-label pr-0">दम्पतिको
                                                        नाम</label>
                                                      <div class="col-sm-2
                                                        col-12">
                                                        <input
                                                          class="form-control
                                                          nepali-text"
                                                          formControlName="member_spouse_name"
                                                          />
                                                        <div *ngIf="isSubmited
                                                          &&
                                                          comp.controls.member_spouse_name.errors?.required">
                                                          <small
                                                            class="text-danger
                                                            m-0 text-sm">दम्पतिको
                                                            नाम आवश्यक छ।</small>
                                                          <br/>
                                                          </div>
                                                        </div>
                                                        <span
                                                          style="cursor:pointer"
                                                          *ngIf="i!==0"><img
                                                            src="./assets/icons/blue_remove.svg"
                                                            (click)="deleteMember(i)"
                                                            /> </span>
                                                      </div>
                                                      <hr>

                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="row button-wrapper">
                                              <div class="col-md-12
                                                text-align-right">
                                                <shared-button
                                                  buttonType="button"
                                                  class="employee-add-back-btn"
                                                  iconClass="icon-back-red"
                                                  name="पछाडि"
                                                  (buttonClicked)="btnBackClicked()"></shared-button>
                                                <div *ngIf="loader"
                                                  class="loading-image"></div>
                                                <shared-button
                                                  [disabledCondition]="btnDisabled"
                                                  buttonType="submit"
                                                  class="employee-add-next-btn"
                                                  name="अर्को"
                                                  (buttonClicked)="storeData()"></shared-button>
                                              </div>
                                            </div>


                                          </form>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
