<div>
    <div class="bg-hider"></div>

    <div class="confirm-box" [style.width]="containerWidth">

        <div class="card">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <p> {{ body }}</p>
                <hr/>
                    <div class="btn">
                        <div class="pull-right">
                            <button type="button" (click)="cancelBtnClick()"><img
                                    src="./assets/icons/red_arrow_left.svg">रद्द
                                गर्नुहोस्
                            </button>
                            <button class="mr-2" (click)="confirmBtnClick()">
                                मेटाउनुहोस्</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>