<div>
  <textarea [readOnly]="readonly" [ngStyle]="{'resize':readonly?'none':'auto'}"
            #textArea rows="8"
            (click)="getCaretPos(textArea)"
            [(ngModel)]="textStr"
            (input)="onChange($event)"></textarea>
  <div *ngIf="isCusPlaceholder" (click)="onClick($event)" class="content-container">
    <ng-content>
    </ng-content>
  </div>
</div>
