<ng-container>
    <!--  *ngIf="isShowLoginPage"-->
    <div class="login-form">
        <div class="col-sm-12">
            <h1 class="sign-in-form-title">सुर्खेत परियोजनामा ​​साइन इन
                गर्नुहोस्</h1>
            <p class="sign-in-tag">अगाडि बढ्नको लागि कृपया तपाईंको ईमेल र
                पासवर्ड प्रविष्ट गर्नुहोस्</p>
        </div>

        <div class="col-xl-12 col-lg-12 col-sm-12 sign-in-form-wrapper">
            <form class="sign-in-form" [formGroup]="loginForm"
                (ngSubmit)="onSubmit()">

                <div class="form-group custom-width">
                    <label for="email">
                        ईमेल</label>
                    <input id="email" class="form-control"
                        formControlName="email" type="email" onKeyDown="if
                        (this.value.length >= 10 && event.keyCode > 47 &&
                    event.keyCode <58) return false;" />
                        <span invalidMessage
                            [control]="loginForm.controls.email"
                            [invalidMessages]="errorMessagePhone"></span>

                    </div>

                    <div class="form-group custom-width">
                        <label for="password">पासवर्ड</label>
                        <span><a tabindex="-1" href="#"
                                class="label-forgot-password" utooltips
                                [message]="resetPasswordMessage">पासवर्ड मान्य
                                छ?</a></span>
                        <input id="password" class="form-control"
                            type="password" formControlName="password" />
                        <span invalidMessage
                            [control]="loginForm.controls.password"
                            [invalidMessages]="errorMessagePassword"></span>
                    </div>

                    <div class="form-group custom-width">
                        <button type="submit" class="sign-in-btn">
                            साईन ईन गर्नुहोस्</button>
                        <span class="no-account-tag">खाता छैन?</span>
                        <div *ngIf="loader" class="loading-image"></div>

                        <!--              <a href="sign-up"-->
                        <!--                    class="sign-up-link">-->
                        <!--                    {{ "Sign up" | translate }}</a>-->
                    </div>
                </form>
                <!-- <div *ngIf="errorMessage" class="invalid-container">
            <div *ngIf="errorMessage">{{errorMessage|translate}}</div>
        </div> -->
                <!--        <div class="language">-->
                <!--            <language-selector></language-selector>-->
                <!--            &lt;!&ndash; <label>{{ "Want to change language?" | translate }}</label>-->
                <!--            <ul class="list-group list-group-horizontal">-->
                <!--                <li class="list-group-item active" [ngClass]="{'active':selectedLanguage == 'En'}"-->
                <!--                    (click)="languageChanges('En' , $event)">English</li>-->
                <!--                <li class="list-group-item" [ngClass]="{'active':selectedLanguage == 'Ru'}"-->
                <!--                    (click)="languageChanges('Ru' , $event)">Русский</li>-->
                <!--                <li class="list-group-item" [ngClass]="{'active':selectedLanguage == 'Fr'}"-->
                <!--                    (click)="languageChanges('Fr' , $event)">Français</li>-->
                <!--            </ul> &ndash;&gt;-->
                <!--        </div>-->

            </div>
        </div>
    </ng-container>
