.login-form{
    /*margin-top:50%;!*200px;*!*/
}

.sign-in-form-title{
    font-size: 34px;
    color: #2E384D;
    letter-spacing: 0;
    line-height: 40px;
    font-family: Rubik;
    font-weight: 300;
    text-align: left;
}

.sign-in-tag{
    font-size: 15px;
    color: #8798AD;
    letter-spacing: 0;
    line-height: 22px;
    font-family: Rubik;
    font-weight: 400;
    text-align: left;
}

.sign-in-form label{
    font-size: 12px;
    color: #B0BAC9;
    letter-spacing: 1.12px;
    font-family: Rubik;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}

.sign-in-form-wrapper{
    margin-top:40px;
}

.label-forgot-password{
    font-size: 15px;
    color: #B0BAC9;
    letter-spacing: 0;
    text-align: right;
    line-height: 22px;
    font-family: Rubik;
    font-weight: 400;
    float: right;
}

.sign-in-form input{
    border-radius: 5px;
    /*opacity:20%;*/
    border : 1px solid #E0E7FF;
    height:40px;
    font-size: 15px;
    color: #2E384D;
    letter-spacing: 0;
    font-family: Rubik;
    font-weight: 400;
    text-align: left;
    width:320px;
}

.no-account-tag{
    font-size: 15px;
    color: #B0BAC9;
    letter-spacing: 0;
    text-align: right;
    line-height: 22px;
    font-family: Rubik;
    font-weight: 400;
    margin-left: 10%;
}

.sign-up-link{
    font-size: 15px;
    color: #2E5BFF;
    letter-spacing: 0;
    font-family: Rubik;
    font-weight: 400;
    text-align: left;
}

.span {
    margin: 0 12px 0 10px;
}

.language {
    width: 235px;
}

.row-fluid{
    background: #F4F6FC;
    border-color: #EEF3F5;
    border: 1px;
    border-radius: 5px;
}

.language label{
    font-size: 12px;
    color: #B0BAC9;
    letter-spacing: 1.12px;
    font-family: Rubik;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}




.col, [class*="col-"]{
    padding-right: 0px !important;
    padding-left:  0px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
