.alert-message {
  position: fixed !important;
  top: 59px;
  right: 38%;
  z-index: 1000;
  transition: 1s top, 1s opacity;
  font-size: 16px;
  min-width: 25%;
  opacity: 1;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.alert-danger {
  top: 59px !important;
  right: 38% !important;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-alerts {
  z-index: 10000;
  width: 510px;
  position: fixed;
  top: 15%;
  left: 38%;
  margin: -30px auto 0 -205px;
}

.modal-alert-succes .alerts-icon {
  background: #FE9D14 url("/assets/icons/i_succes.png") no-repeat 50% 50%;
}

.modal-alert-error .alerts-icon {
  background: #ae2d23 url("/assets/icons/i_error.png") no-repeat 50% 50%;
}

.modal-alerts .modal-body .alerts-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.modal-alerts .modal-body .alerts-text {
  padding-left: 80px;
}

.modal-alerts .modal-body .alerts-text h3 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 24px;
  color: #FE9D14;
}

.modal-alert-error .modal-body .alerts-text h3 {
  color: #ae2d23;
}

.modal-alerts .modal-body .alerts-text p {
  font-size: 12px;
  margin: 0;
  color: #000;
}

.panel-close img {
  margin-top: 28px;
  cursor: pointer;
}

.panel-close {
  content: url(/assets/icons/closeX.svg);
  float: right;
  width: auto;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  float: right;
  height: 17px;
}
