<div class="row">

  <!--  <router-outlet></router-outlet>-->
  <div class="col-lg-9 employee-tbl-wrapper" style="float: left">
    <h1 class="employee-title">व्यक्तिगत विवरणहरू तालिका
      <span class="employee-title-sub">कुल: <span class="nepali-number">{{(totalRows
          <=
            0) ? 0 : totalRows}}</span></span>
      <button type="button" class="btn btn-sm"
        (click)="exportTableToExcel()"
        style="width:50px!important;float:right;">
        निर्यात
      </button>
      <button type="button" class="btn btn-sm mr-2"
        (click)="exportTableToPdf()"
        style="width:50px!important;float:right;">
        प्रिन्ट
      </button>
      <button class="btn btn-add mr-2" (click)="addNewEmployee()">
        <div class="btn-add-content">
          <img src="assets/icons/White_add_user.svg" class="btn-lcon">
          <span class="btn-text">नयाँ थप्नुहोस्</span>
        </div>
      </button>
      <div class="clearfix"></div>
    </h1>

    <div *ngIf="!laptopSize else employeeFilterForm"></div>

    <div class="card employee_empty" *ngIf="totalRows <= 0; else
      empTablWrapper">
      <img class="emp-action-btn" src="./assets/icons/gray_docs.svg" />
      <p><span>व्यक्तिगत विवरण</span> तालिका खाली छ
        <br>कुनै नयाँ व्यक्तिगत विवरण यहाँ देखिने छ
      </p>
      <button type="button" class="btn btn-add" (click)="addNewEmployee()">
        नयाँ थप्नुहोस्
      </button>

    </div>

    <div class="card display" *ngIf="displayID">
      <info-card (btnCloseClicked)="closeCard()" [coordinateDtl]="displayData"></info-card>
    </div>

    <ng-template #empTablWrapper>

      <table class="table tbl-employee-list" #employeeTable
        id="printReport">
        <thead>
          <tr>
            <th scope="row" width="25%">
              <label class="tbl-lbl-emp-name nepali-text"
                style="text-transform:none;">
                gfd <!--  नाम -->
              </label>
              <span appDataList (currentSortOrder)="sortItems($event)"
                [attr.aria-name]="'name'">
                <span class="blue-down-arrow show mt-1"></span>
                <span class="blue-up-arrow hide mt-1"></span>
              </span>


            </th>
            <th scope="row" width="1%" class="text-align-center"><label
                class="nepali-text" style="text-transform:none;">pd]/ <!--  उमेर --></label></th>
            <th scope="row" width="1%" class="text-align-center"><label
                class="nepali-text" style="text-transform:none;">/Qm ;d"x
                <!--  रक्त समूह --></label></th>
            <th scope="row" width="5%" class="text-align-center"><label
                class="nepali-text" style="text-transform:none;">k]zf
                <!--  पेशा --></label></th>
            <th scope="row" width="15%" class="text-align-center"><label
                class="nepali-text" style="text-transform:none;"> 3/x¿
                <!--  घरहरू --></label></th>
            <th scope="row" width="15%" class="text-align-center"><label
                class="nepali-text" style="text-transform:none;">;b:ox¿
                <!--  सदस्यहरू --></label></th>
            <th width="40%"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let employee of collection | paginate: { itemsPerPage:
            perPageItem, currentPage: p,totalItems: totalRows }">
            <td>
              <!-- <img src="{{BASEIPURL}}{{ employee.person_image }}"
                (error)="errorImgHandler($event)"
                class="table-image-design display-no"> -->
              <ul class="emp-info-list">
                <li class="nepali-text">{{
                  employee.person_name}}</li>
                <li>{{ employee.religion }}</li>
              </ul>
              <div class="clearfix"></div>
            </td>
            <td class="text-align-center nepali-number"> {{ employee.age }}
            </td>
            <td class="text-align-center">{{ employee.blood_group }}</td>
            <td class="text-align-center">{{ employee.occupation }}</td>
            <td class="text-align-center">

              <ul class="emp-tracking-list">
                <li>जम्मा <span class="nepali-number">{{
                    employee.houses.length}}</span></li>
                <li *ngFor="let h of employee.houses"><span>{{h.house_number}}</span></li>
              </ul>
            </td>
            <td class="text-align-center">

              <ul class="emp-tracking-list">
                <li>जम्मा <span class="nepali-number">{{
                    employee.members.length }}</span></li>
                <li *ngFor="let m of employee.members" class="nepali-text"
                  style="text-transform: none;">{{m.member_name}}</li>
              </ul>
            </td>
            <td class="text-align-right">

              <span class="action-more-btn"
                dbempaction
                wrapperClass=""
                firstBtnName="blue_edit"
                secondBtnName="blue_view"
                thirdBtnName="blue_remove"
                thirdBtnMsg="जानकारी मेटाउनुहोस्"
                outerWidthForDelete="155"
                (viewBtnClicked)="edit(employee.id)"
                (sendMsgbtnClicked)="view(employee.id)"
                (deleteItemBtnClicked)="delete(employee.id)">

              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-wrapper">
        <div class="custom-pagination">
          <pagination-controls (pageChange)="pageChanged($event)"
            autoHide="true" previousLabel=""
            nextLabel=""></pagination-controls>
        </div>

        <div *ngIf="loader" class="loading-image"></div>

      </div>

    </ng-template>

  </div>

  <div class="col-lg-3" style="float: right">
    <div *ngIf="laptopSize else employeeFilterForm"></div>
    <div class="clearfix"></div>
  </div>

  <ng-template #employeeFilterForm>
    <div class="st-panel-default">
      <div class="st-panel-header">
        <h4>फिल्टर</h4>
        <div class="cross-icon-wrapper">
          <span (click)="searchForm.reset()"
            (mouseover)="setCheckBoxHover(true)"
            (mouseout)="setCheckBoxHover(false)"
            class="panel-close"></span>
          <span *ngIf="hoverCheckBox" class="drop-down-invalid-dialog
            check-box-toolpit"><invalid-message
              text="फिल्टर किलेर गर्नुहोस्" type="message"
              width="120px"></invalid-message></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="st-panel-body">
            <form class="employee-add-form" [formGroup]="searchForm">

              <div class="input-margin">
                <label class="form-label"> ब्यक्तिको नामबाट खोज्नुहोस्</label>
                <app-search-icon-form [inputSearchFormGroup]="searchForm"
                  [inputSearchFormControl]="searchForm.controls.person_name"></app-search-icon-form>
              </div>
              <div class="input-margin">
                <label class="form-label">सदस्यको नामबाट खोज्नुहोस्</label>
                <app-search-icon-form [inputSearchFormGroup]="searchForm"
                  [inputSearchFormControl]="searchForm.controls.member_name"></app-search-icon-form>
              </div>
              <div class="input-margin">
                <label class="form-label">घर नम्बरबाट खोज्नुहोस्</label>
                <app-search-icon-form [inputSearchFormGroup]="searchForm"
                  [inputSearchFormControl]="searchForm.controls.house_number"></app-search-icon-form>
              </div>

              <div class="input-margin">
                <label class="form-label">उमेरबाट खोज्नुहोस्</label>
                <app-search-icon-form [inputSearchFormGroup]="searchForm"
                  [inputSearchFormControl]="searchForm.controls.age"></app-search-icon-form>
              </div>

              <div class="input-margin">
                <label class="form-label">रक्त समूहबाट खोज्नुहोस्</label>
                <app-search-icon-form [inputSearchFormGroup]="searchForm"
                  [inputSearchFormControl]="searchForm.controls.blood_group"></app-search-icon-form>
              </div>

              <div class="input-margin">
                <label class="form-label">पेशाबाट खोज्नुहोस् </label>
                <app-search-icon-form [inputSearchFormGroup]="searchForm"
                  [inputSearchFormControl]="searchForm.controls.occupation"></app-search-icon-form>
              </div>

              <button type="submit" class="sign-in-btn submit-btn-design"
                (click)="search()">प्रयोग गर्नुहोस्</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>
