<div class="sh-employee-dtl" *ngIf="coordinateDtl">
  <div class="sh-emp-dtl-header">
    <img class="sh-emp-img"
      src="{{'http://localhost:8000/images/'+coordinateDtl.person_image}}"
      (error)="errorHandler($event)" />
    <span class="sh-emp-info">
      <h2 class="nepali-text">{{coordinateDtl.person_name}}</h2>
      <p>{{ coordinateDtl.religion}}</p>
    </span>

    <img class="sh-emp-close-icon" src="./assets/icons/closeX.svg"
      (click)="closeCard()">
  </div>
  <div class="sh-emp-dtl-body">
    <label><p>जानकारी</p>
      <hr/>
      </label>

      <ul class="info-list">
        <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px"> {{ "पेशा:
              "+coordinateDtl.occupation}}</p>
          </span>
        </li> <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px"> शिक्षा: <span class="nepali-text">{{coordinateDtl.education}}</span></p>
          </span>
        </li> <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px"> {{ "रक्त समूह:
              "+coordinateDtl.blood_group}}</p>
          </span>
        </li> <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px">उमेर: <span class="nepali-number">{{coordinateDtl.age}}</span></p>
          </span>
        </li> <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px"> बुवाको नाम: <span
                class="nepali-text">{{coordinateDtl.father_name}}</span></p>
          </span>
        </li> <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px"> आमाको नाम: <span class="nepali-text">
                {{coordinateDtl.mother_name}}</span></p>
          </span>
        </li> <li>
          <span>
            <img style="margin-right:5px" class=""
              src='./assets/icons/blue_view.svg'>
            <p style="margin-bottom: 0px">हजुरबुवाको नाम: <span
                class="nepali-text">{{ coordinateDtl.grand_father_name}}</span></p>
          </span>
        </li>
      </ul>
    </div>
    <div class="sh-emp-dtl-body">
      <label><p>सदस्यहरू</p>
        <hr/>
        </label>

        <ul class="info-list">
          <li *ngFor="let m of coordinateDtl.members">
            <span>
              <img style="margin-right:5px" class=""
                src='./assets/icons/blue_view.svg'>
              <p style="margin-bottom: 0px">नाम: <span class="nepali-text">{{
                  m.member_name}}</span> </p>
            </span>
          </li>
        </ul>
      </div> <div class="sh-emp-dtl-body">
        <label><p>
            घरहरू</p>
          <hr/>
          </label>

          <ul class="info-list">
            <li *ngFor="let h of coordinateDtl.houses">
              <span>
                <img style="margin-right:5px" class=""
                  src='./assets/icons/blue_view.svg'>
                <p style="margin-bottom: 0px">
                  घर नम्बर: <span>{{ h.house_number}}</span></p>
              </span>
            </li>
          </ul>
        </div>
      </div>
