<div class="dropdown-container-translate">
</div>
<mat-progress-bar
  *ngIf="loading" color="primary" mode="indeterminate" style="z-index: 1921;
  position: absolute;">
</mat-progress-bar>
<router-outlet></router-outlet>