<div class="instruction-wrapper">

<div id="sidebar" class="padding-top-27" style="">
    <div class="main-logo">
    </div>
    <div class="menu-toggle-icon">
      <img class="svg-img" src="./assets/icons/closeX.svg">
    </div>
    <sidebar [instructionPage]="'report'"></sidebar>
</div>
    
<div class="main-container">
  <div class="sub-container-padding">
    <div class="sub-container">

      <h3 class="sub-header-title">{{ "3rd Step" | translate }}. {{ "Collect Reports" | translate }}</h3>
      <p class="p-content">{{ "Collect reports to obtain the data on Staff displacement" | translate }}<br>

       {{ "worked hours, etc" | translate }}.
      </p>

      <button class="sign-in-btn btn-style" [routerLink]="['/main']">{{ "Let's Start" | translate }}!</button>
      <div class="arrow-design"></div>
    </div>
    <div class="progress-bar-design">

      <div class="progress-wizard">
        <div class="progress-steps">
          <div class="indicator-progress" style="width: 100%;"></div>
        </div>
        <ul class="steps-wizard">
          <li class="completed active">
            <a href="javascript:;"><span>1</span></a>
          </li>
          <li class="completed active">
            <a href="javascript:;"><span>2</span></a>
          </li>
          <li class="completed active">
            <a href="javascript:;"><span>3</span></a>
          </li>

        </ul>
        <div class="text-design">{{ "Collect Reports" | translate }}</div>
      </div>
    </div>
  </div>

</div>
</div>