.tooltips-container {
  /* position: fixed;
  z-index: 9;
  will-change: transform;
  top:0px;
  left:0px; */
}

:host {
  position: fixed;
  z-index: 9;
  will-change: transform;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.tooltips-body {
  color: #2E5BFF;
  letter-spacing: 0;
  font-weight: 400;
  position: relative;
  font-size: 15px;
  background: #F9FAFF;
  text-align: left;
  border: 1px solid #E0E7FF;
  padding: 10px;
  border-radius: 5px;
  width: 272px;
}

.tooltips-body:after, .tooltips-body:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}


.tooltips-body:after {
  border-width: 5px;
  right: 10px;
}

.tooltips-body:before {
  border-width: 5px;
  right: 10px;
}

.tooltips-body-bottom:after {
  content: '';
  top: -10px;
  border-color: transparent transparent #F9FAFF transparent;
}

.tooltips-body-bottom:before {
  content: '';
  top: -11px;
  border-color: transparent transparent #E0E7FF transparent;
}


.tooltips-body-top:before {
  content: '';
  bottom: -11px;
  border-color: #E0E7FF transparent transparent transparent;
}

.tooltips-body-top:after {
  content: '';
  bottom: -10px;
  border-color: #F9FAFF transparent transparent transparent;
}
