<div class="form-search-icon" [formGroup]="inputSearchFormGroup"
    [ngClass]="{'new-form-search-icon':(inputSearchFormControl.invalid &&
    (inputSearchFormControl.dirty || inputSearchFormControl.touched ||
    formSubmitted))}">
    <input type="text" (keyup)="inputValueChanged($event.target.value)"
        [formControl]="inputSearchFormControl"
        class="form-control input-design nepali-text styple-placeholder"
        [placeholder]="customPlaceholder ?
        customPlaceholder : ' यहाँ टाइप गर्नुहोस्'">
    <!-- placeholder:'oxfF 6fOk ug{'xf];\' = यहाँ टाइप गर्नुहोस् -->
    <span invalidMessage [hasSubmitted]="formSubmitted"
        [control]="inputSearchFormControl"></span>

</div>
