<div [class]="customClass">
  <div class="clearfix"></div>
  <div class="st-com-logo-wrapper">
    <img class="logo" src="./assets/nepal-flag.png">

    <ul style="padding-left: 12px; width: auto" *ngIf="hideData == true">
      <li class="fnt-size-15 line-h-16 dark-grey">स्वागतम् </li>
      <li class="fnt-size-15 line-h-16 light-grey">सुर्खेत</li>
    </ul>
  </div>

  <ul>
    <li class="li-class" routerLinkActive="active"
      [routerLink]="['/main/personal-detail']">
      <img class="svg-img" src="./assets/icons/gray_employee.svg" />
      <span *ngIf="hideData == true">व्यक्तिगत विवरणहरू</span></li>
        <li class="li-class" routerLinkActive="active"
      [routerLink]="['/main/company-detail']">
      <img class="svg-img" src="./assets/icons/gray_bar_chart.svg" />
      <span *ngIf="hideData == true">Company विवरणहरू</span></li>
<!--    <li class="li-class">-->
<!--      <img class="svg-img" src="./assets/icons/gray_group.svg" />-->
<!--      <span *ngIf="hideData == true">प्रयोगकर्ता विवरणहरू</span></li>-->
<!--    <li class="li-class">-->
<!--      <img class="svg-img" src="./assets/icons/gray_bar_chart.svg" />-->
<!--      <span *ngIf="hideData == true">तथ्यांकशाश्त्र </span></li>-->
  </ul>

</div>
<div class="clearfix"></div>
